:root{
    color-scheme: light dark;
}
body{
    max-width: 800px;
    margin:10px auto;
    padding: 0 10px;
}
body p img,
body p video{
    display:block;
    max-width: 100%;
    margin-inline: auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}